In [2]:
import numpy as np
import pandas as pd

In [57]:
N = 25

In [58]:
time_per_run = 60 # sec
sec_to_hours = 1 / (60 * 60)
num_procs = 48

N**2, (N**2) * time_per_run * sec_to_hours / num_procs

(625, 0.21701388888888887)

In [59]:
a_mean = 0.1 * np.ones(N)
a_var = np.logspace(-2, 2, N)

as_pr = a_mean ** 2 / a_var
ar_pr = a_mean / a_var

a_df = pd.DataFrame({'a_mean': a_mean, 'a_var': a_var, 'as_pr': as_pr, 'ar_pr': ar_pr})
a_df

    a_mean       a_var     as_pr      ar_pr
0      0.1    0.010000  1.000000  10.000000
1      0.1    0.014678  0.681292   6.812921
2      0.1    0.021544  0.464159   4.641589
3      0.1    0.031623  0.316228   3.162278
4      0.1    0.046416  0.215443   2.154435
5      0.1    0.068129  0.146780   1.467799
6      0.1    0.100000  0.100000   1.000000
7      0.1    0.146780  0.068129   0.681292
8      0.1    0.215443  0.046416   0.464159
9      0.1    0.316228  0.031623   0.316228
10     0.1    0.464159  0.021544   0.215443
11     0.1    0.681292  0.014678   0.146780
12     0.1    1.000000  0.010000   0.100000
13     0.1    1.467799  0.006813   0.068129
14     0.1    2.154435  0.004642   0.046416
15     0.1    3.162278  0.003162   0.031623
16     0.1    4.641589  0.002154   0.021544
17     0.1    6.812921  0.001468   0.014678
18     0.1   10.000000  0.001000   0.010000
19     0.1   14.677993  0.000681   0.006813
20     0.1   21.544347  0.000464   0.004642
21     0.1   31.622777  0.000316   0.003162
22     0.1   46.415888  0.000215   0.002154
23     0.1   68.129207  0.000147   0.001468
24     0.1  100.000000  0.000100   0.001000

In [45]:
b_mean = 1.0 * np.ones(N)
b_var = np.logspace(-2, 2, N)

bs_pr = b_mean ** 2 / b_var + 2
br_pr = b_mean * (b_mean ** 2 / b_var + 1)

b_df = pd.DataFrame({'b_mean': b_mean, 'b_var': b_var, 'bs_pr': bs_pr, 'br_pr': br_pr})
b_df

    b_mean       b_var       bs_pr       br_pr
0      1.0    0.010000  102.000000  101.000000
1      1.0    0.014678   70.129207   69.129207
2      1.0    0.021544   48.415888   47.415888
3      1.0    0.031623   33.622777   32.622777
4      1.0    0.046416   23.544347   22.544347
5      1.0    0.068129   16.677993   15.677993
6      1.0    0.100000   12.000000   11.000000
7      1.0    0.146780    8.812921    7.812921
8      1.0    0.215443    6.641589    5.641589
9      1.0    0.316228    5.162278    4.162278
10     1.0    0.464159    4.154435    3.154435
11     1.0    0.681292    3.467799    2.467799
12     1.0    1.000000    3.000000    2.000000
13     1.0    1.467799    2.681292    1.681292
14     1.0    2.154435    2.464159    1.464159
15     1.0    3.162278    2.316228    1.316228
16     1.0    4.641589    2.215443    1.215443
17     1.0    6.812921    2.146780    1.146780
18     1.0   10.000000    2.100000    1.100000
19     1.0   14.677993    2.068129    1.068129
20     1.0   21.544347    2.046416    1.046416
21     1.0   31.622777    2.031623    1.031623
22     1.0   46.415888    2.021544    1.021544
23     1.0   68.129207    2.014678    1.014678
24     1.0  100.000000    2.010000    1.010000

In [62]:

def build_prior_dict_arr(N=50):
    a_mean = 0.1 * np.ones(N)
    a_var = np.logspace(-2, 2, N)
    as_pr = a_mean ** 2 / a_var
    ar_pr = a_mean / a_var

    b_mean = 1.0 * np.ones(N)
    b_var = np.logspace(-2, 2, N)
    bs_pr = b_mean ** 2 / b_var + 2
    br_pr = b_mean * (b_mean ** 2 / b_var + 1)
    
    prior_dict_list = list()
    
    for i in range(N):
        for j in range(N):
            prior_dict_list.append({
                'as_pr': as_pr[i], 'ar_pr': ar_pr[i],
                'bs_pr': bs_pr[j], 'br_pr': br_pr[j],
            })
            
    return prior_dict_list

prior_dict_list = build_prior_dict_arr(N=50)

In [64]:
pd.DataFrame(prior_dict_list)

       as_pr   ar_pr       bs_pr       br_pr
0     1.0000  10.000  102.000000  101.000000
1     1.0000  10.000   84.864277   83.864277
2     1.0000  10.000   70.664885   69.664885
3     1.0000  10.000   58.898660   57.898660
4     1.0000  10.000   49.148664   48.148664
...      ...     ...         ...         ...
2495  0.0001   0.001    2.021210    1.021210
2496  0.0001   0.001    2.017575    1.017575
2497  0.0001   0.001    2.014563    1.014563
2498  0.0001   0.001    2.012068    1.012068
2499  0.0001   0.001    2.010000    1.010000

[2500 rows x 4 columns]